input {
    font-size: small;
    font-weight: bold;
}

option,
select {
    font-size: small;
    font-weight: bolder;
}

.position {
    position: sticky;
    /* left: 5010px; */
    text-align: center;
    width: 30%;
}

.button {
    max-inline-size: 20px;
    text-align: center;
}


/* table {
    font-weight: bolder;
} */