<div class="container" id="componentID">
    <div class="form-group">
        <h5>Customer Name:</h5>
        <input type="text" placeholder="Customer Name" name="productName" class="form-control" id="email">
    </div>
    <div class="row">
        <div class="container" style="margin-top: 5%">
            <table class="table table-grey table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Number Of Box</th>
                        <th>Number Of Piece</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let field of fieldArray; let i = index">
                        <td>
                            <input [(ngModel)]="field.productName" class="form-control" type="text" name="{{field.productName}}" disabled/>
                        </td>
                        <td>
                            <input [(ngModel)]="field.productPrice" class="form-control" type="text" name="{{field.productPrice}}" disabled/>
                        </td>
                        <td>
                            <input [(ngModel)]="field.numberOfBox" class="form-control" type="text" name="{{field.numberOfBox}}" disabled/>
                        </td>
                        <td>
                            <input [(ngModel)]="field.numberOfPiece" class="form-control" type="text" name="{{field.numberOfPiece}}" disabled/>
                        </td>
                        <td>
                            <input [(ngModel)]="field.totalAmount" class="form-control" type="text" name="{{field.totalAmount}}" disabled/>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" type="submit" (click)="deleteFieldValue(i)"><i class="button material-icons">delete_small</i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form [formGroup]="productForm">
                                <select class="form-control" (change)="selected()" formControlName="productName">
                                 <option>select product name</option>
                                 <option *ngFor="let product of productList" value="{{product.productId}}" placeholder="Product Name" class="form-control" type="text">{{product.productName}}</option>
                                </select>
                            </form>
                        </td>
                        <td>
                            <input placeholder="Product Price" value="{{newproduct.productPrice}}" class="form-control" type="number" disabled />
                        </td>
                        <td>
                            <input (focusout)="focusOutFunction()" [(ngModel)]="newAttribute.numberOfBox" placeholder="Number of Box" class="form-control" type="number" />
                        </td>
                        <td>
                            <input (focusout)="focusOutFunction1()" [(ngModel)]="newAttribute.numberOfPiece" placeholder="Number of Piece" class="form-control" type="number" />
                        </td>
                        <td>
                            <input placeholder="Total Number" [(ngModel)]="totalAmount" class="form-control" type="number" disabled/>
                        </td>
                        <td>
                            <button class="btn  btn-primary btn-sm" type="submit" (click)="addFieldValue()"><i class="button material-icons">playlist_add</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 position">
            <label for="productPrice">Grand Total Amount:</label>

            <input placeholder="Total Amount" [(ngModel)]="grandTotal" name="productPrice" class="form-control" id="lastName" disabled>


        </div>
    </div>
</div>