<div class="card text">
    <div class="card-header">
        <h2 class="text-center">Add Product</h2>
    </div>
    <div class="card-body">
        <div class="col-md-6 ">
            <form>
                <div class="form-group">
                    <label for="productName">Product Name:</label>
                    <input type="text" [(ngModel)]="product.productName" placeholder="Product Name" name="productName" class="form-control" id="email">
                </div>

                <div class="form-group">
                    <label for="productDescription">Product Description:</label>
                    <input [(ngModel)]="product.productDescription" placeholder="Product Description" name="productDescription" class="form-control" id="firstName">
                </div>

                <div class="form-group">
                    <label for="productPrice">Product Price:</label>
                    <input [(ngModel)]="product.productPrice" placeholder="Product Price" name="productPrice" class="form-control" id="lastName">
                </div>

                <div class="form-group">
                    <label for="numberOfPiecePerCase">Number Of Piece Per Case:</label>
                    <input [(ngModel)]="product.numberOfPiecePerCase" placeholder="Number Of Piece Per Case" name="numberOfPiecePerCase" class="form-control" id="lastName">
                </div>

                <div class="form-group">
                    <label for="productMRP">Product MRP:</label>
                    <input [(ngModel)]="product.productMRP" placeholder="Product MRP" name="productMRP" class="form-control" id="lastName">
                </div>

                <button class="btn btn-success text" (click)="addProduct()">Create</button>
            </form>
        </div>
    </div>
</div>