<table class="table  table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Number Of Piece In Case</th>
            <th scope="col">Price Per Piece</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="thead-grey">
        <tr *ngFor="let list of productList">
            <td>{{list.productName}}</td>
            <td>{{list.productDescription}}</td>
            <td>{{list.productPrice}}</td>
            <td>{{list.numberOfPiecePerCase}}</td>
            <td>{{list.pricePerPiece | number}}</td>
            <td><button type="submit" class=" btn btn-primary btn-sm" [routerLink]="['/editProduct',list.productId]"><i class="button material-icons">edit_small</i></button></td>
            <td><button type="submit" class="btn btn-danger btn-sm" (click)="deleteProduct(list)"><i class="button material-icons">delete_small</i></button></td>
        </tr>
    </tbody>
</table>
<button type="button btn" class="btn  btn-success" style="margin:5px;" [routerLink]="['/newProduct']">New</button>